.article-preview {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
}

.article-preview .article-meta {
  margin: 0 0 1rem;
}

.article-preview .article-meta a {
  touch-action: manipulation;
  color: #5cb85c;
  background-color: transparent;
}

.preview-link:hover {
  text-decoration: none;
}

.article-preview .article-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}

.article-preview .article-meta .info {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

.article-preview .article-meta .info .date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}

.article-preview .article-meta .pull-xs-right {
  float: right !important;
}

.article-preview .preview-link {
  color: inherit !important;
}

.article-preview .preview-link h1 {
  font-weight: 600 !important;
  font-size: 1.5rem !important;
  margin-bottom: 3px;
  line-height: 1.1;
  word-wrap: break-word;
}

.article-preview .preview-link p {
  font-weight: 300;
  font-size: 24px;
  color: #999;
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.3rem;
  word-wrap: break-word;
}

.article-preview .preview-link div {
  max-width: 30%;
  font-size: 0.8rem;
  font-weight: 300;
  color: #bbb;
  vertical-align: middle;
}

.article-preview .preview-link ul {
  padding-left: 0;
  margin-top: 1rem;
}

.article-preview .preview-link ul li {
  font-weight: 300;
  padding-bottom: 0 !important;
  word-wrap: break-word;
}

.article-preview .tag-default.tag-outline {
  border: 1px solid #ddd;
  color: #aaa !important;
  background: 0 0 !important;
}

.article-preview .tag-default {
  color: #fff !important;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  display: inline-block;
  overflow: hidden;
  max-width: 150px;
}

.article-preview .tag-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.article-preview .btn-outline-primary {
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}

.article-preview .btn-outline-primary:not(:disabled):not(.disabled).active {
  border-color: #5cb85c;
  background-color: #5cb85c;
}

.article-preview .btn-outline-primary:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
