.profile-feed {
  margin-top: 20px;
  margin-bottom: -1px;
}

.profile-feed .nav-pills.outline-active .nav-link {
  border-radius: 0;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 2px solid transparent;
  background: 0 0;
  color: #aaa;
}

.profile-feed .nav-pills.outline-active .nav-link.active {
  background: #fff;
  border-bottom: 2px solid #5cb85c;
  color: #5cb85c;
}

.nav-pills.outline-active .nav-link:hover {
  color: #555;
}

.profile-feed .nav-link {
  cursor: pointer;
}

.profile-feed .nav-link.active {
  color: #fff;
  cursor: default;
  background-color: #5cb85c;
}

.profile-feed .hidden {
  display: none;
}
