.auth-page .text-xs-center {
  text-align: center !important;
}

.auth-page a {
  color: #5cb85c;
}

.auth-page a:hover {
  color: #5cb85c;
}

.auth-page .pull-xs-right {
  float: right !important;
}
.auth-page .btn-lg,
.btn-group-lg > .btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
.auth-page .btn-primary {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.auth-page .btn-primary:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #449d44;
}
