.article-page .banner {
  color: #fff;
  background: #333;
  padding: 2rem;
  margin-bottom: 2rem;
}

.article-page .banner h1 {
  font-size: 2.8rem;
  font-weight: 600;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-top: 0;
  line-height: 1.1;
}

.article-page .banner .article-meta {
  margin: 2rem 0 0;
}
.article-page .article-meta {
  display: block;
  position: relative;
  font-weight: 300;
}

.article-page a {
  color: #5cb85c;
  text-decoration: none;
  background-color: transparent;
}

.article-page a:hover {
  text-decoration: underline;
}

.article-page .article-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}

.article-page .article-meta .info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

.article-page .banner .article-meta .author {
  color: #fff;
}
.article-page .article-meta .info .author {
  display: block;
  font-weight: 500 !important;
}

.article-page .article-meta .info .date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}

.article-page .btn-outline-secondary {
  color: #ccc;
  border-color: #ccc;
  margin-right: 0.8rem;
}

.article-page .btn-outline-primary {
  color: #5cb85c;
  border-color: #5cb85c;
}

.article-page .btn-outline-primary:not(:disabled):not(.disabled).active {
  border-color: #5cb85c;
  background-color: #5cb85c;
}

.article-page .btn-outline-primary:hover {
  color: white;
  background-color: #5cb85c;
}

.article-page ul.tag-list {
  padding-left: 0 !important;
  display: inline-block;
  list-style: none !important;
}

.article-page .tag-default.tag-outline {
  border: 1px solid #ddd;
  color: #aaa !important;
  background: 0 0 !important;
}

.article-page .tag-default {
  color: #fff !important;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  display: inline-block;
}

.article-page .tag-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
