@keyframes ldio-lh59ru0ckoq {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-lh59ru0ckoq div {
  left: 119.225px;
  top: 76.55499999999999px;
  position: absolute;
  animation: ldio-lh59ru0ckoq linear 1.0416666666666665s infinite;
  background: #5cb85c;
  width: 12.549999999999999px;
  height: 12.549999999999999px;
  border-radius: 6.2749999999999995px / 6.2749999999999995px;
  transform-origin: 6.2749999999999995px 48.94499999999999px;
}
.ldio-lh59ru0ckoq div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9722222222222222s;
  background: #5cb85c;
}
.ldio-lh59ru0ckoq div:nth-child(2) {
  transform: rotate(24deg);
  animation-delay: -0.9027777777777778s;
  background: #5cb85c;
}
.ldio-lh59ru0ckoq div:nth-child(3) {
  transform: rotate(48deg);
  animation-delay: -0.8333333333333333s;
  background: #5cb85c;
}
.ldio-lh59ru0ckoq div:nth-child(4) {
  transform: rotate(72deg);
  animation-delay: -0.7638888888888888s;
  background: #5cb85c;
}
.ldio-lh59ru0ckoq div:nth-child(5) {
  transform: rotate(96deg);
  animation-delay: -0.6944444444444444s;
  background: #5cb85c;
}
.ldio-lh59ru0ckoq div:nth-child(6) {
  transform: rotate(120deg);
  animation-delay: -0.625s;
  background: #5cb85c;
}
.ldio-lh59ru0ckoq div:nth-child(7) {
  transform: rotate(144deg);
  animation-delay: -0.5555555555555556s;
  background: #5cb85c;
}
.ldio-lh59ru0ckoq div:nth-child(8) {
  transform: rotate(168deg);
  animation-delay: -0.4861111111111111s;
  background: #5cb85c;
}
.ldio-lh59ru0ckoq div:nth-child(9) {
  transform: rotate(192deg);
  animation-delay: -0.41666666666666663s;
  background: #5cb85c;
}
.ldio-lh59ru0ckoq div:nth-child(10) {
  transform: rotate(216deg);
  animation-delay: -0.3472222222222222s;
  background: #5cb85c;
}
.ldio-lh59ru0ckoq div:nth-child(11) {
  transform: rotate(240deg);
  animation-delay: -0.2777777777777778s;
  background: #5cb85c;
}
.ldio-lh59ru0ckoq div:nth-child(12) {
  transform: rotate(264deg);
  animation-delay: -0.20833333333333331s;
  background: #5cb85c;
}
.ldio-lh59ru0ckoq div:nth-child(13) {
  transform: rotate(288deg);
  animation-delay: -0.1388888888888889s;
  background: #5cb85c;
}
.ldio-lh59ru0ckoq div:nth-child(14) {
  transform: rotate(312deg);
  animation-delay: -0.06944444444444445s;
  background: #5cb85c;
}
.ldio-lh59ru0ckoq div:nth-child(15) {
  transform: rotate(336deg);
  animation-delay: 0s;
  background: #5cb85c;
}
.loadingio-spinner-spinner-oljnjraid5a {
  width: 251px;
  height: 251px;
  display: inline-block;
  overflow: hidden;
  background: white;
}
.ldio-lh59ru0ckoq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-lh59ru0ckoq div {
  box-sizing: content-box;
}
