.feed-toggle {
  margin-bottom: -1px;
}

.feed-toggle .nav-pills.outline-active .nav-link {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid transparent;
  background: 0 0;
  color: #aaa;
}

.feed-toggle .nav-pills.outline-active .nav-link.active {
  background: #fff !important;
  border-bottom: 2px solid #5cb85c !important;
  color: #5cb85c !important;
}

.feed-toggle .nav-link {
  cursor: pointer;
}

.feed-toggle .nav-link.active {
  color: #fff;
  cursor: default;
  background-color: #5cb85c;
}

.feed-toggle a:hover {
  text-decoration: none;
}

.feed-toggle .hidden {
  display: none;
}
